<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for message in messages %}
        <h3 style="color:{% if message.level == 25  %}green{% else %}red{% endif %};">{{ message }}</h3>
    {% endfor %}
    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">submit</button>
    </form>
</body>
</html>